envman
github-copilot
kitty
opencode
raycast
zed
zsh/.zcompcache
zsh/.zsh_history
zsh/.zcompdump*
fastfetch/pixil-frame-0.png
pomodoro
karabiner/automatic_backups
lexy
tmux
.emacs.d
zsh/.zsh_sessions
configstore/update-notifier-@google
simple-update-notifier
gcloud
git
jgit
